
$font-heebo: "Heebo",
sans-serif;
$font-lora: "Lora",
serif;
$background-color: #f8f4f3;
$black-color: #1d1d1d;
$grey-color: #b8b8b8;
$blue-color: #7b9eb9;
$polo-blue-color: #96b9d4;
$light-grayish-blue-color: #edf0f2;
$tabs-blue-color: #d8e1e9;
$orange-color: #f09761;
$orange-light-color: #f0b48f;
$green-color: #4ccc96;
$white-color: #fff;
$olive-color: #7d745a;
$purple-color: #93808d;
$dark-purple: #241c22;
$pink-color: #dcc7c2;